.containerContactList {
  height: 80vh;
}

.contactBox {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactUList {
  padding: 0;
  /* border: 2px solid green; */
}

.contactLi {
  list-style: none;
}

.addContactButton {
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* font-size: 0.8rem; */
  font-size: 1rem;
  background-color: rgb(232, 240, 254);
  box-shadow: 5px 5px 5px rgb(40, 64, 105);
  width: 13rem;
}
