.show {
  display: none;
}

.containerDiaryItem {
  width: 80vw;
  border-radius: 0.5rem;
  margin: 1rem;
  background: linear-gradient(rgb(69, 109, 178), transparent);
}

.diaryItem {
  border: 2px solid blue;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: rgb(232, 240, 254);
  box-shadow: 5px 5px 5px rgb(40, 64, 105);
}

.diaryDate {
  width:20rem;
  display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;
  margin: 0;
  margin-left: 2rem;
}

.diaryMood {
  font-size: 3rem;
}

.diaryMood > p {
  margin: 0;
  padding-top: 0.75rem;
}
.dearDiary > p {
  font-weight: bold;
  font-size: 1.5rem;
}

.moreContentButton {
  margin: 1rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
  background-color: rgb(232, 240, 254);
  box-shadow: 5px 5px 5px rgb(40, 64, 105);
  color: white;
}
.moreContentButton:hover {
  cursor: pointer;
  color: rgb(40, 64, 105);
  background: linear-gradient(transparent, rgb(255, 255, 255), transparent);
}

.hide {
  display: none;

}
