.containerDiary {
  /* height: 80vh; */
  /* border: 2px solid red; */
}

.diaryBox {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.diaryUList {
  padding: 0;
  /* border: 2px solid green; */
}

.diaryLi {
  list-style: none;
  /* border: 2px solid yellow; */
}

.addDiaryButton {
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
  background-color: rgb(232, 240, 254);
  box-shadow: 5px 5px 5px rgb(40, 64, 105);
  color: white;
  width: 13rem;
}
.addDiaryButton:hover {
  cursor: pointer;
  color: rgb(40, 64, 105);
  background: linear-gradient(transparent, rgb(255, 255, 255), transparent);
}

.headerNewEntry {
  margin-top: 2rem;
  text-align: center;
}

/*  */
.diary_new_entry {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px rgb(40, 64, 105);
  text-align: center;
  width: min-content;
  margin: auto;
  margin-bottom: 5rem;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  color: white;
  background: linear-gradient(rgb(69, 109, 178), transparent);
}

.how_do_you_feel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  gap: 0.5rem;
  font-size: 2rem;
}

/* .how_do_you_feel p:hover {
  font-size: 1.2rem;
  cursor: pointer;
} */

textarea {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 1rem;
  background-color: rgb(232, 240, 254);
}

form {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

form button {
  margin: auto;
}

.submitDiary {
  color: white;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  width: 8rem;
  margin-top: 1rem;
  margin: 1rem;
  padding: 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
  background-color: rgb(232, 240, 254);
  box-shadow: 5px 5px 5px rgb(40, 64, 105);
}

.submitDiary:hover {
  color: rgb(40, 64, 105);
  cursor: pointer;
  background: linear-gradient(transparent, rgb(255, 255, 255), transparent);
}
