.grid {
  position: relative;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}
.box {
  color: white;
  font-size: 4vw;
  padding: 10px;
  /* background: rgba(0, 174, 255, 0.57); */
  text-align: center;
  grid-column: span 1;
  height:80%
}

.enter_caroleni{
  text-align: center;
  color: white;
  border: 2px solid white ;
  padding: 4.6rem;
  padding-top: 6.3rem;/* background-color: rgba(0, 174, 255, 0.765); */
  position: absolute;
  left:41.8%;
bottom:31%;
margin: auto;
}