.weatherCard {
  /* border: 2px solid rgb(69, 109, 178); */
  border-radius: 1rem;
  margin: 1rem;
  /* background-color: rgba(0, 255, 255, 0.589); */
  /* background-color: rgb(1, 240, 254); */
  background-color: rgb(240, 244, 244);

  text-align: center;
  box-shadow: 5px 5px 5px rgb(40, 64, 105);
  color: rgb(69, 109, 178);
  padding:2px;
}
