.weatherCard {
  border-radius: 1rem;
  margin: 1rem;
  background-color: rgb(232, 240, 254);
  text-align: center;
  box-shadow: 5px 5px 5px rgb(40, 64, 105);
  color: rgb(69, 109, 178);
  padding: 2px;
}
