.cale_side{
  display: flex;
  flex-direction: row;
  position: relative;
}

.cale_button{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#add_new_event{
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 0.8rem;
  background-color: rgb(232, 240, 254);
  box-shadow: 5px 5px 5px rgb(40, 64, 105);
  text-transform: uppercase;
}
#add_new_event:hover{
  cursor: pointer;
  font-size: 0.9rem;
}
.popUp_new_event{
  width: 20vw;
position: absolute;
left:40%;
bottom:40%;
z-index: 1;
}
